:root {
    --base-bg-color: #f2ebdf;
    --base-text-color: #2a241d;

    --raised-bg-color: #fbf6ee;
    --raised-text-color: #2a241d;

    --inset-bg-color: #e5dbcb;
    --inset-text-color: #241e18;

    --disabled-bg-color: #e1d8cc;
    --disabled-text-color: #948675;

    --theme-color: teal;
    --error-color: firebrick;
}

html {
    background: var(--base-bg-color);
    color: var(--base-text-color);
}
