.block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    user-select: none;
    color: var(--secondary-fg);
    padding: 8px 0;

    >div {
        overflow: hidden;
        background-color: var(--disabled-color);

        &:first-child {
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
        }

        &:last-child {
            border-bottom-left-radius: 9px;
            border-bottom-right-radius: 9px;
        }
    }



    >.header {
        width: 100%;
        min-height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;
        gap: 8px;

        >:last-child {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 4px;
            justify-content: end;
        }
    }
}