.CityPicker {
    display: grid;
    grid-template-rows: auto 1fr;
}

.CityPicker > nav {
    user-select: none;
    padding: 8px;
    height: 48px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.CityPicker > nav > div {
    background-color: var(--sunken-bg);
}

.CityPicker > nav > div:last-of-type {
    color: var(--sunken-bg);
    background-color: var(--accent-color);
}

.CityPicker > nav > span {
    color: var(--sunken-fg);
    font-size: smaller;
}

.CityPicker > main {
    user-select: none;
    outline: none;
    overflow-y: auto;
    padding: 8px;
    scroll-snap-type: y mandatory;
}

.CityPicker > main > div {
    background-color: var(--sunken-bg);
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
}

.CityPicker div {
    padding: 8px;
}
