   .CityPicker {
       display: grid;
       grid-template-rows: auto 1fr;

       >nav {
           user-select: none;
           padding: 8px;
           height: 48px;
           display: flex;
           gap: 8px;
           align-items: center;

           >div {
               background-color: var(--bg-base);

               &:last-of-type {
                   color: white;
                   background-color: var(--accrnt-color);
               }
           }

           >span {
               color: var(--fg-secondary);
               font-size: smaller;
           }
       }

       >main {
           user-select: none;
           outline: none;
           overflow-y: auto;
           padding: 8px;
           scroll-snap-type: y mandatory;

           >div {
               background-color: var(--bg-base);
               margin-bottom: 4px;
               display: flex;
               justify-content: space-between;
               align-items: center;
               scroll-snap-align: start;
           }
       }

       div {
           padding: 8px;
       }
   }