.image_player {
    position: relative;
    mask-image: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
    margin: 4px 0;
    display: flex;
    flex-wrap: nowrap;

    >div {
        height: calc(1px * var(--height, 240));
        animation-duration: calc(1s * var(--duration, 32));
        animation-name: moveLeft;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        >img {
            height: 100%;
        }
    }
}

@keyframes moveLeft {
    to {
        transform: translateX(-100%);
    }
}