.listBox {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.inner {
    position: relative;
}

.viewport {
    display: grid;
    grid-auto-rows: auto;
    gap: calc(1px * var(--gap, 4));
}
