.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 256ms ease-out;
}

.backdrop.active {
    opacity: 1;
}

.modal {
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    transition: transform 256ms ease-out, opacity 256ms ease-out;
    opacity: 0;
}

.modal.active {
    opacity: 1;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 256ms ease-out;
}

.modal.active::backdrop {
    opacity: 1;
}

.modal.filled {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateY(100%);
}

@media (orientation: landscape) {
    .modal.filled {
        max-width: 100vh;
        margin: 0 auto;
    }
}

.modal.filled.active {
    transform: translateY(0);
}

.modal.bottom {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 62.8%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateY(100%);
}

@media (orientation: landscape) {
    .modal.bottom {
        max-width: 100vh;
        margin: 0 auto;
    }
}

.modal.bottom.active {
    transform: translateY(0);
}

.modal.top {
    bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 12px 12px;
    transform: translateY(-100%);
}

.modal.top.active {
    transform: translateY(0);
}

.modal.left {
    right: auto;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0 12px 12px 0;
    transform: translateX(-100%);
}

.modal.left.active {
    transform: translateX(0);
}

.modal.right {
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border-radius: 12px 0 0 12px;
    transform: translateX(100%);
}

.modal.right.active {
    transform: translateX(0);
}

.modal.center {
    transform: scale(0.9);
}

.modal.center.active {
    transform: scale(1);
}
