.time_line {
    background-color: var(--secondary-bg);
}

.item {
    display: flex;
}

.item > div {
    padding-bottom: 8px;
}

.item > div > span {
    color: var(--secondary-fg);
}

.item > span {
    display: block;
    width: 9px;
    margin-right: 8px;
    position: relative;
}

.item > span::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--secondary-bg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
}

.item > span::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--accent-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
}

.item:last-of-type > span::before {
    display: none;
}

.item:last-of-type > div {
    display: flex;
    align-items: center;
    --color: var(--secondary-fg);
    color: var(--color);
}

.toggle {
    display: flex;
}

.toggle > span {
    display: block;
    width: 9px;
    margin-right: 8px;
    position: relative;
}

.toggle > span::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--secondary-bg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
}

.toggle > span::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--accent-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
}

.toggle > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 8px;
}
