 .use_refresh {
     position: relative;
     padding-top: var(--pull-height, 0px);
     transition: padding-top 512ms ease-out;

     --down-duration: 1024ms;
     --up-duration: 512ms;
     --threshold-height: 80px;

     &::before,
     &::after {
         content: "";
         display: block;
         position: absolute;
         top: 0;
         width: 2px;
         background: linear-gradient(to bottom, transparent, var(--accent-color));

         height: 0;
         opacity: 0;
         transform: translateY(0);
         transition: height 256ms ease-out, opacity 256ms ease-out, transform 0s;
     }

     &::before {
         left: 0;
     }

     &::after {
         right: 0;
     }

     &.pulling,
     &.ready {
         padding-top: var(--threshold-height);


         &::before,
         &::after {
             height: calc(1px * var(--pull-height));
             opacity: 1;
             animation: none;
             transform: translateY(0);
             transition: height 0.05s ease-out, opacity 0.05s ease-out;
         }
     }

     &.loading {

         &::before,
         &::after {
             height: var(--threshold-height);
             opacity: 1;
             animation: move_down var(--down-duration) ease-in-out infinite;
             transition: none;
         }
     }

     &.done {
         padding-top: 0;

         &::before,
         &::after {
             height: var(--threshold-height);
             opacity: 0;
             animation: move_up var(--up-duration) ease-out forwards;
             transition: opacity 256ms ease-out, transform 256ms ease-out;
         }
     }
 }


 @keyframes move_down {
     0% {
         transform: translateY(-100%);
     }

     100% {
         transform: translateY(0%);
     }
 }

 @keyframes move_up {
     0% {
         transform: translateY(0);
         opacity: 1;
     }

     100% {
         transform: translateY(100%);
         opacity: 0;
     }
 }
